html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-container {
  width: 100%;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.btn {
  padding: 0.5em 2.5em;
  border-radius: 5em;
}

.btn-light {
  background-color: black;
  color: white;
}

.btn-dark {
  background-color: white;
  color: black;
}

.btn-container {
  width: 100%;
  text-align: center;
}

.smi-container {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

.pomodoro-timer-box {
  display: block;
  /* width: 100%; */
  padding: 5em 2em;
  margin: 7rem 0;
  text-align: center;
}

.pomodoro-timer-box-light {
  color: white;
  background-color: black;
}

.pomodoro-timer-box-dark {
  color: black;
  background-color: white;
}

.pomodoro-button-light {
  background-color: white;
  padding: 0.7em 1.5em;
  color: black;
  border-radius: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 70%;
  margin: 0 15%;
}

.pomodoro-button-dark {
  background-color: black;
  padding: 0.7em 1.5em;
  color: white;
  border-radius: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 70%;
  margin: 0 15%;
}

.pomodoro-timer-text {
  font-size: 5em;
  margin: 15px 0;
}

.pomodoro-app-container {
  height: 100vh;
}

.projects-container {
  padding: 1em;
}

.project-item-container {
  padding: 1em;
  border: 1px solid #ececec;
  cursor: pointer;
  margin: 10px 0;
}

.project-item-container:hover {
  background-color: #ececec;
  border-radius: 5px;
  padding: 1em;
}

@media (min-width: 700px) {
  .image-coverletter-container {
    display: flex;
  }

  .image-coverletter-container .ic-first {
    order: 2;
  }

  .image-coverletter-container .ic-second {
    order: 1;
  }

  .home-container {
    padding: 1em 6em;
  }

  .smi-container {
    width: 20rem;
    float: right;
  }

  .pomodoro-timer-box {
    margin: 7rem 30rem;
    padding: 4rem;
  }
}
