html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-container {
  width: 100%;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.btn {
  padding: 0.5em 2.5em;
  border-radius: 5em;
}

.btn-light {
  background-color: black;
  color: white;
}

.btn-dark {
  background-color: white;
  color: black;
}

.btn-container {
  width: 100%;
  text-align: center;
}

.smi-container {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
